/* common start */

.t-color {
    color: #5a27c4;
}

.t-bg {
    color: #fff;
    background-color: #843aff;
    border-color: #5a27c4;
}

.t-bg-action:hover,
.t-bg-action:active,
.t-bg-action:focus {
    background-color: #fff;
    color: #843aff;
    border-color: #5a27c4;
}

/* common end */


.login-block {
    position: absolute;
    bottom: 10px;
}

.overlay {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    z-index: 1;
}

.btnSaveImage {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    text-align: center;
    z-index: 1;
}


/*custom forms starts here*/
.custom-field input[type=text],
.custom-field input[type=email],
.custom-field input[type=password],
.custom-field input[type=number],
.custom-field select {
    background: #f4f4f4 !important;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    background: #f4f4f4 !important;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
    padding: 0px 13px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.custom-btn .btn-small {
    height: 3rem;
    line-height: 3rem;
    font-size: 13px;
    width: 100%;
    font-weight: bold;
    text-transform: capitalize;
    background: #a162e4;
    border-radius: 4px;
    font-size: 1.1rem;
}




/*custom forms ends here*/


/*home modals starts here*/

.modal-skin {
    text-align: center;
}

.icon-set {
    padding: 16px;
}

.icon-set img {
    width: 60px
}

.mod-pop h3 {
    font-size: 1.6rem;
    font-weight: bold;
    color: #6d6d6d;
    padding-bottom: 8px;
}

.switchbar .switch {
    text-align: left;
    padding: 12px 0px 22px;
    margin-left: -10px;
}

.switchbar label {
    font-size: 1rem;
    color: #000;
}

.custom-close {
    position: absolute;
    right: 1px;
    top: 4px;
    color: #000;
}

.sm-space {
    margin: 20px 0px;
}



/*home modals starts here*/




/*home page starts here*/
.gallery-btn,
.distance-btn,
.d-camera-btn,
.camera-btn {
    padding: 0px;

    margin: 0px;
    background: transparent;
    line-height: 0px;
    border: 0px;
}

.gallery-btn:focus,
.distance-btn:focus,
.d-camera-btn:focus,
.camera-btn:focus {
    background: transparent;
}

.gallery-btn {
    position: fixed;
    right: 13px;
    top: 12px;
}

.gallery-btn img {
    width: 44px;
}

.distance-btn {
    position: fixed;
    right: 13px;
    bottom: 19px;
}

.distance-btn img {
    width: 45px;
}

.d-camera-btn {
    position: fixed;
    left: 13px;
    bottom: 19px;
}

.d-camera-btn img {
    width: 45px;
}

.camera-btn i {
    width: 70px;
    height: 70px;
    background: rgba(000, 000, 000, .3);
    display: inline-block;
    border-radius: 50%;
}

.camera-btn i:after {
    width: 50px;
    height: 50px;
    content: "";
    background: #fff;
    display: block;
    border-radius: 50%;
    text-align: center;
    margin-left: 9.5px;
    margin-top: 9.5px;
}

.camera-btn {
    position: fixed;
    bottom: 13px;
    left: 50%;
    margin-left: -35px;
}



/* menubar css ////////////////////////////////// */

.menu ul {
    list-style: none;
    background: #f5f5f5;
    text-align: center;
    width: 100%;
    margin: 35px auto;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    padding: 0;
    border-radius: 15px;
    background: #ffffff;
}

.menu ul li {
    display: inline-block;
    padding: 15px 18px;
    margin: 0px 0px;
    padding-bottom: 0;
}

.menu ul li a i {
    border-radius: 50%;
    padding: 12px;
    font-size: 16px;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.75);
}

.menu ul li:nth-child(1) a i {
    background: #702F8A;
}

.menu ul li:nth-child(2) a i {

    background: #009999;
}

.menu ul li:nth-child(3) a i {
    background: #3399CC;
    padding: 10px 13px;
    position: relative;
    font-size: 21px;
}

.menu ul li:nth-child(4) a i {
    background: #993399;
}

.menu ul li a {
    text-decoration: none;
}

.menu ul li a span {
    display: block;
    font-size: 15px;
    font-family: Ubuntu, sans-serif;
    color: #303030;
    padding-top: 10px;
}

#plus-id {
    padding: 0;
    box-shadow: none;
    font-size: 15px;
    position: absolute;
    left: 2%;
    top: 18%;
    color: white;
}


/* map page css */


/*folder-page css*/
nav {
    background: #fff;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%), 0 3px 1px -2px rgb(0 0 0 / 0%), 0 1px 5px 0 rgb(0 0 0 / 0%);
}

.back-arrow {
    background: transparent;
    position: absolute;
    border: 0px;
    height: inherit;
    left: 2%;
    top: 2%;
    z-index: 2;
}

.back-arrow i {
    font-size: 24px;
}

.more-icon {
    background: transparent;
    position: absolute;
    border: 0px;
    height: inherit;
    right: 1px;
    top: -2px;
    opacity: .4;
}



.inputfield {
    margin: 2px 18px 0px 42px
}

.inputfield .material-icons {
    position: absolute;
    top: -1px;
    color: #CCD;
    margin-left: 8px;
}

.inputfield input[type="search"] {
    background: #f4f4f4;
    border-bottom: 0px;
    border-radius: 4px;
    padding: 10px 10px 10px 38px;
    box-sizing: border-box;
}

.cstab-bar .tabs a {
    color: #000;
    font-weight: bold;
}

.cstab-bar .tabs .tab a:focus,
.cstab-bar .tabs .tab a:focus.active {
    background: transparent;
}

/* mynearby start */

.gal-folder img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.img-gl {
    overflow: hidden;
    border-radius: 8px;
    height: 100px;
}

.gal-folder strong {
    color: #000;
    display: block;
    font-size: 13px;
    padding-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
    text-overflow: ellipsis;
}

.gal-folder span {
    font-size: 11px;
    opacity: .6;
    padding-left: 2px;
    display: block;
}

.gal-folder {
    margin-bottom: 20px;
    position: relative;
}

.folder-section {
    margin: 15px auto;
    padding: 0px 7px;
}

.folder-section .col {
    padding: 0 0.30rem;
}

.gallery-section .col {
    padding: 0 0.20rem
}

.gallery-section {
    margin: 15px auto;
    padding: 0px 7px;
    margin-bottom: 50px;
    ;
}

.gallery-section .gal-folder {
    margin-bottom: 5px;
}

.gal-count {
    position: relative;
}

.gal-count .trash-icon {
    position: absolute;
    right: 5px;
    width: 14px;
    height: auto;
    bottom: 4px;
}

.share-cl {
    position: absolute;
    background: #fff;
    opacity: .8 !important;
    /* border-radius: 50%; */
    padding: 2px 3px 0px;
    right: 0px;
}

.share-cl i {
    font-size: 18px;
    color: #000;
    cursor: pointer;
}

.nav-lab {
    font-weight: bold;
    padding-left: 45px;
    font-size: 18px;
    position: absolute;
}

span.qr-placeholder {
    position: absolute;
    right: 5%;
    bottom: 28%;
    color: blue;
}

/* mynearby end */
.pic-dl img {
    position: absolute;
    right: 0px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    bottom: 1px;
}

.pic-dl strong {
    width: 100%;
    display: block;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
    text-overflow: ellipsis;
}

.pic-dl span {
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: 70%;
    text-overflow: ellipsis;
}

.pic-dl {
    margin-bottom: 20px;
    position: relative;
    padding-top: 5px;
}


/*folder-page css*/




/*footer starts here*/
.home-footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: white;
    border-radius: 0 0 19px 19px;
    z-index: 100;
}

.home-footer ul {
    margin: 0px;
    padding: 0px;
}

.home-footer ul li {
    padding: 8px 0px 4px;
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
}

.home-footer ul li a {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
}

.home-footer ul li i,
.home-footer ul li img {
    display: block;
    text-align: center;
    margin: 0px auto 4px auto;
    width: 30px;
}

.ot-action {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -45px;
    width: 110px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.ot-action img {
    width: 40px;
    background: white;
    padding: 5px;
    border-radius: 20px;
}

.ad-action {
    margin-top: -5px;
}

.ot-action a {
    padding: 0px 5px;
}


.modal {
    background: #fff
}

.card-val {
    padding: 0px !important;
}

.ord-num span,
.pay-m span {
    display: block;
    line-height: 10px;
    font-size: 11px;
    letter-spacing: -1px;
}

.ord-num strong {
    font-weight: 800
}

.card-val img {
    width: 30px;
    margin-top: 29px;
    vertical-align: text-bottom;
}

.modalskin .cs-9 {
    padding-left: 0px;
}

.ord-dl {
    padding: 0px !important;
    margin-top: 45px;
}

.pay-mod-content {
    padding-right: 14px !important;
    padding-left: 15px !important;
}

.pay-m {
    margin-top: 90px;
    margin-left: -10px;
}

.pay-m strong {
    font-size: 22px;
    font-weight: 800;
    color: #d60316
}

.pay-m strong i {
    font-size: 16px;
    font-style: normal;
    color: #000
}

.red-round-btn {
    width: 100%;
    background: #e00f0f;
    border-radius: 40px;
    margin-top: 60px;
}

.red-round-btn:hover,
.red-round-btn:active {
    background: #e00f0f;
}

.cs-9 .row {
    margin-bottom: 10px;
}

.camera-action {
    position: relative;
}

#camera-file-input-1 {
    position: absolute;
    width: 60px;
    height: 60px;
    opacity: 0;
}


/* loader settings */
.g-wrapper-loader {
    background: rgb(0 0 0 / 76%);
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 1004;
    left: 0;
}

.g-loader {
    position: absolute;
    top: 37vh;
    left: 42%;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 5px #2f2f2f;

}

/* .progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
} */
.g-loader span {
    position: absolute;
    left: 34px;
    top: 37px;
    font-weight: bold;
    color: purple;
    font-size: 24px;
}




/* //////////// */

.thanks-screen {
    background: #e2e2e2
}

.thank-container {
    background: #fff;
    margin: 1vh auto;
    width: calc(100% - 20px);
    padding: 15px;
    box-shadow: 0px 0px 5px 0px #ccc;
    border: solid 1px #5a27c4;
    border-radius: 35px;
    min-height: 98vh;
}

.thank-info img.thumb {
    padding: 40px 50px;
    width: 100%;
    max-width: 340px;
}

.thank-info {
    text-align: center;
}

.thank-info h2 {
    margin: 0px;
    padding: 0px;
    font-weight: 700;
    color: #5a27c4;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
}

.thank-info h2:before {
    content: "";
    width: 60px;
    height: 1px;
    background: #5a27c4;
    position: absolute;
    text-align: center;
    margin: 0px auto;
    left: 50%;
    margin-left: -30px;
    margin-top: -15px;
    border-radius: 80px;
    padding: 2px;
}

.thank-info p {
    text-transform: uppercase;
    font-weight: 400;
}

.thank-info label {
    display: block;
    font-size: 17px;
    margin-top: -13px;
    padding-bottom: 30px;
}


select {
    display: inline-block !important;
    margin: 0px 0px 8px;
}